@import "vars";

.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .buttons {
    display: flex;
    gap: 16px;
  }
}

.btn {
  border-radius: 20px;
  padding: 8px 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  &-primary {
    background-color: $primary;
    color: $text-dark;
    border: $primary;
  }
  &-outline-primary {
    background-color: transparent;
    color: $primary;
    border-color: $primary;
    border-width: 2px;
  }
}
