@import "vars";

.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .intro {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h3 {
      margin: 0;
    }
  }
}

quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-weight: 400;
  p {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
}
.blockquote-footer {
  text-align: center;
  margin: 0;
  color: $secondary;
  font-size: 16px;
  font-weight: 400;
}
