@import "vars";
@import "home";
@import "menu";
@import "about-me";
@import "contact-me";

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 0px;
}

.btn {
  border-radius: 20px;
  padding: 8px 24px;
  font-family: "Poppins";
  font-size: 16px;
  &-primary {
    background-color: $primary;
    color: $text-dark;
    border: $primary;
  }
  &-outline-primary {
    background-color: transparent;
    color: $primary;
    border-color: $primary;
    border-width: 2px;
  }
}

body {
  --bg: #{$bg-dark};
  --bs-body-color: #{$text-dark};
  .logo-black {
    display: none;
  }

  &.light {
    --bg: #{$bg-light};
    --bs-body-color: #{$text-light};
    .logo-white {
      display: none;
    }
    .logo-black {
      display: unset;
    }
  }
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  background: var(--bg);
  height: 100svh;
  padding: 0px 2rem;
  display: flex;
  flex-direction: column;
}

.logo-white {
  height: 36px;
  width: 36px;
}

.logo-black {
  height: 36px;
  width: 36px;
}

h1,
.h1 h2,
.h2 {
  font-weight: 700;
  font-family: "DM Sans";
  margin-bottom: 0;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 32px;
}
h3,
.h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: "DM Sans";
  margin-bottom: 0;
}

a {
  color: var(--bs-body-color);
  text-decoration: none;
}

hr {
  color: var(--bs-body-color);
  opacity: 0.5;
  margin: 0;
}

header {
  z-index: 2;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

footer {
  padding: 24px 0;
  text-align: center;

  small {
    color: $secondary;
  }
}

.lucide {
  stroke-width: 1;
  width: 48px;
  height: 48px;
  color: var(--bs-body-color);
  padding: 8px;
}

.sun-btn, .moon-btn {
  cursor: pointer;
}